.icoFontlist:hover
{
    width: 225px;
    font-size: 16px;
    border: 0px solid #ddd;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    color:blue;
    text-decoration:underline;
    cursor:pointer;
}
.icoFontlist{
    width: 225px;
    font-size: 18px;
    border: 0px solid #ddd;
    color:red;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
}