<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jk.dao.HanDao">

	<resultMap type="com.jk.pojo.Goods" id="goods">
       <id column="goodsid" property="goodsid"/>
       <result column="goodsname" property="goodsname"></result>
       <result column="goodsprice" property="goodsprice"></result>
       <result column="typeid" property="typeid"></result>
       <result column="goodsimage" property="goodsimage"></result>
       <result column="goodstime" property="goodstime"></result>
       <result column="goodsflag" property="goodsflag"></result>
       <result column="createtime" property="createtime"></result>
       <result column="updatetime" property="updatetime"></result>
       <result column="goodskucun" property="goodskucun"></result>
   </resultMap>

    <resultMap type="com.jk.pojo.Type" id="type">
        <id column="typeid" property="typeid"/>
        <result column="typename" property="typename"></result>
        <result column="generaid" property="generaid"></result>
    </resultMap>
   
	<select id="queryGoods" resultType="com.jk.pojo.Goods" parameterType="String">
			select DISTINCT g.*,t.typename from g_goods g
					left join g_type t ON  g.typeid = t.typeid
                    where g.goodsflag = 0

        <if test="goods.typeid != '' and goods.typeid !=null">
            and t.typeid = #{goods.typeid}
        </if>

	</select>

	<select id="queryType"  resultType="com.jk.pojo.Type" parameterType="String">
			 SELECT DISTINCT t.*,g.generaname FROM g_type t
			LEFT JOIN g_genera g ON  t.generaid = g.generaid
              where 1=1

            <if test="type.generaid != '' and type.generaid !=null">
               and  g.generaid = #{type.generaid}
           </if>




	</select>

	<select id="queryById" parameterType="Integer" resultType="com.jk.pojo.Goods">
			select * from g_goods where goodsid = #{goodsid}

	</select>
	<select id="queryGoodByName" parameterType="String" resultType="java.util.Map">
			SELECT g.goodsid,g.goodsname,g.goodsimage,g.goodssales,g.goodsprice,t.typename,b.brandname FROM g_goods g,g_brand b,g_genera e,g_type t WHERE g.brandid = b.brandid AND g.typeid = t.typeid AND e.generaid = t.generaid AND b.brandtypeid = e.generaid and g.goodsname = #{goodname}

	</select>

    <insert id="addGoods" parameterType="com.jk.pojo.Goods">
        insert into g_goods values(goodsid,
                  #{goodsname},
                  #{goodsprice},
                  #{typeid},
                  #{goodsimage},
                  #{goodstime},
                  #{goodsflag},
                  #{createtime},
                  #{updatetime},
                  #{goodskucun})
    </insert>


    <update id="updateFlag" parameterType="com.jk.pojo.Goods">

        update g_goods set goodsflag = 1
         where goodsid =#{goodsid}



    </update>

    <delete id="deleteGoods" parameterType="Integer">

       delete from g_goods where goodsid = #{goodsid}

    </delete>

    <update id="updateGoods" parameterType="com.jk.pojo.Goods">

        update g_goods <set>
        <if test="goodsname !=null and goodsname !=''">
            goodsname = #{goodsname},
        </if>
        <if test="goodsprice !=null and goodsname !=''">
            goodsprice = #{goodsprice},
        </if>
        <if test="typeid !=null">
            typeid = #{typeid},
        </if>
        <if test="goodsimage !=null and goodsimage !=''">
            goodsimage =#{goodsimage},
        </if>
        <if test="goodstime !=null and goodstime !=''">
            goodstime = #{goodstime},
        </if>
        <if test="goodsflag !=null">
            goodsflag =  #{goodsflag},
        </if>
        <if test="createtime !=null and createtime !=''">
            createtime =   #{createtime},
        </if>
        <if test="updatetime !=null and updatetime !=''">
            updatetime =  #{updatetime},
        </if>
        <if test="goodskucun !=null and goodskucun !=''">
            goodskucun =  #{goodskucun}
        </if>
    </set>

      where   goodsid =#{goodsid}



    </update>



</mapper>